//kleuren

$Blauw: #252B48;
$Wit: #FFFFFF;
$Groen: #CCFFBD;
$Background: #7C81AD;
$Zwart: #000000;

//Kleuren icons

$html: #ff7308;
$css: #0000FF;
$js: #FFFF00;
$php: #ADD8E6;
$scss: #941994;
$react: #1598c8;
$python: #d9d91c;
$wordpress: #185995;